data:
  image: base/arch
  volumes:
    - /var/lib/postgresql/data/
    - /opt/sonarqube/extensions/
    - /opt/sonarqube/logs/
  command: "true"

db:
  image: postgres
  net: container:sonarqube
  environment:
   - POSTGRES_USER=sonar
   - POSTGRES_PASSWORD=sonar
  volumes_from:
   - data

sonarqube:
  # image: "sonar"
  build: sonar
  ports:
   - "9000:9000"
   - "5432:5432"
  environment:
   - SONARQUBE_JDBC_URL=jdbc:postgresql://localhost:5432/sonar
  volumes_from:
   - data

plugins:
  build: sonar-plugins
  environment:
    - SONAR_PLUGINS_DOWNLOADS_DIR=/opt/sonarqube/extensions/downloads/
  #  - http_proxy=http://192.168.59.3:3128 # uncomment this if you have a proxy server set up
  #  - https_proxy=http://192.168.59.3:3128
  volumes_from:
   - data
